@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
 * Esta regra CSS aplica um seletor universal (*) para redefinir a margem e o preenchimento de todos os elementos para 0.
 * É comumente usada para criar um ponto de partida consistente para a estilização, removendo os estilos padrão do navegador.
 */
* {
    margin: 0;
    padding: 0;
}

body{
    /* 
        A propriedade height está definida como 100vh, o que significa que a altura do elemento será 100% da altura da janela de visualização. Isso garante que o elemento sempre ocupará toda a altura da área visível da janela do navegador.
    */
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque {
    color: #22D4FD;
}

.container {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-conteudo-titulo {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.container-conteudo-texto {
    font-size: 20px;
    font-family: 'inter tight', sans-serif;
}

.container-midias {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.container-midias-h2 {

}

.container-midias-box {
    background-color: #22D4FD;
    width: 280px;
    border-radius: 16px;
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
}